@import url('https://fonts.googleapis.com/css2?family=Anton&family=Prompt:wght@100&display=swap');


*{
// font-family: 'Prompt', sans-serif;
// color:#848484;
// font-size:19px;
}
p{
  // font-family: 'Prompt', sans-serif;
  color:#2d2d2d;
  font-size:19px;}
h1{
font-family: 'Anton', sans-serif;
color:#EE9E6D;
font-size:55px;
}
h4{
  color: #613D61 ;
  font-weight: bold;
  margin-bottom: 15px;
}
.sec1 h1{margin-top:150px}
.sec1 img{ margin-top: -8%;}
.rounded-pill {
  background-color: #EE9E6D;
  color: white;
  width: 60%;
  height:14vh;
  font-family: 'Anton', sans-serif;
  font-size:40px;
  margin-top:6%;
}
@media only screen and (max-width: 767px) {
.sec1 h1{padding-bottom:23px;margin-top:50px}
.sec1 img{ margin-top: -0%;width: 100%;}
.rounded-pill {font-size:35px; height:10vh; width: 100%;}
}
.sec2{
  padding-top:125px;
  padding-bottom:125px;
  background:#613D61;
  background-image:URL('../../img/img2.jpg');
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:100%;
}
.sec2 h1{padding-bottom:50px}
.sec2 img{margin-bottom:15px}
.sec2 p{color:#FFFFFF; font-size:17px;padding-bottom:50px;}
.sec3{
  padding-top:125px;
  padding-bottom:125px;
  margin-top: 100px;
  background:#FFF7EB;
  background-image:URL('../../img/img3.jpg');
  background-position:top;
  background-repeat:no-repeat;
  background-size:100%;
}
.sec3 h1{margin-top: 15%; color:#613D61; font-size: 65px;}
.sec3 img{margin-bottom:35px; margin-top: 35px;}
.sec3 p{font-size:17px; color: gray;}
img.qoute{width: 20px; margin-bottom:0px; margin-top: -20px;}

.sec4{
  padding-bottom:125px;
  background:#F8D271;
  background-image:URL('../../img/img5.jpg');
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:100%;
  }
  .sec4 h1{color:#613D61;line-height: 1em;padding-top:50px}
  .sec4 h1 span{color:#613D61; font-size:113px;font-family: 'Anton', sans-serif;}
  .sec4 p{line-height: 1.3em;color:#848484; padding-top:20px;padding-right:50px}
  .sec4 .rating-gallery{padding-top:60px}
  .sec4 .rating-gallery .content{
    padding-top:10px;
    width: 18vw;}
    .scrollAni{
      float: right;

    }
  .sec4 .rating-gallery .content span{
    padding-left:10px;
    font-size:18px ; 
    font-weight: bold;
    font-family: cursive;}
  .controller{padding:100px;padding-top:50px}

  .sec5 h1{color:#613D61}
  .sec5 .pp{padding-bottom:30px}
  .sec5 img{
    margin-bottom:15px;
    }
  .usersPic{
    height: 40%;
    width: 80%;
    }

$color-primary: #EE9E6D;
$color-primary-light: #f3af84;
$color-text-light: snow;


.joinBtn {
  background: $color-primary;
  border: none;
  border-radius: 25px;
  color: $color-text-light;
  cursor: pointer;
  // font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  // padding: .75em 2em;
  position: relative;
  text-transform: uppercase;
  
  &:hover {
    animation: glow 1s ease-in infinite;
  }
  
  &::before {
    animation: glow 1s ease-in infinite;
    background: $color-primary;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  &:hover::before {
    filter: blur(20px);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background: $color-primary;
  }
  25% {
    background: $color-primary-light;
  }
  100% {
    background: $color-primary;
  }
}


.zoom {
  transition: transform .5s;
}

.zoom:hover {
  transform: scale(1.1); 
}



@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');

// :root {
//     background-color: #141414;
// }

// * {
//     box-sizing: border-box;
//     margin: 0;
// }

// .container {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     max-width: 80rem;
//     margin: 0 auto;
//     padding: 2rem;
// }

// .container > * {
//     width: 100%;
// }


// body {
//   background-color: #141414;
// }

// h1 {
//     font-family: 'Warnes', cursive;
//     font-size: 80px;
//     color: #fff;
//     text-align: center;
// }

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
