.body {
    // background-color: lightblue;
    width: 600px;
    height: 300px;
    text-align: center;
    padding: 15px;
    margin-top: 10%;
    margin-left: 28%;
  }
  
  .step {
    height: 60px;
    // border-bottom: 3px solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step span {
    display: block;
    height: 17px;
    width: 17px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .step span.active {
    background: gray;
  }
  
  .form {
    padding: 15px;
    padding-top: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 1px black;
  }
  h3{
    font-size: 3em;
    font-family: fantasy;
    color: #EE9B6F;

  }
  h6{
    font-size: 1em;
    font-family: fantasy;
    color: #EE9B6F;

  }

  .button{
    color: white;
    background-color: #EE9B6F;;
  }

  .goal{
    background-color: #6949B5;
    margin: 1%;
    padding: 3%;
    border-radius: 7%;
    color: wheat;
  }

.profilePic{
  border-radius: 50%;
  width: 40%;
}

ul{
  list-style-type: none;
}

.progress {
  height: 1.7rem;}