
//
 #fixed-nav {
  background: #F8D271;
  height:10%;
  width:100%;
  z-index:9999999;

  
  
}
.rounded-circle{
  margin:0 auto;
  width: 65px;
  height:80px
}
#inside-logo{
  width: 30px;
  height: 30px;
  margin: 10px auto;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 24px;
  color: #430D33;
  line-height: 70px;
  text-align: center;
  background: #D1D1D1;
}

#sidebar {
  overflow: hidden;
  z-index: 3;
}
  #sidebar .list-group {
      min-width: 400px;
      min-height: 90%;
  }
#sidebar i {
  margin-right: 6px;
}

  #sidebar .list-group-item {
      border: 0;
      color: #613D61;
      white-space: nowrap;
  }

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {

}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
content: "\f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
content: "";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
padding-left: 40px;
}

@media (max-width:768px) {
  #sidebar {
      min-width: 35px;
      max-width: 40px;
      overflow-y: auto;
      overflow-x: visible;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-transform: translateX(-45px);
              transform: translateX(-45px);
      position: fixed;
  }
  .card {
    background: #430D33;
    border-radius:20px;
    color: #EE9E6D;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-align:center;
    height: 30vh;
}
  
  #sidebar.show {
      -webkit-transform: translateX(0);
              transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar{ width: 0px; }
  
  #sidebar, #sidebar .list-group {
      min-width: 1px;
      overflow: visible;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
      position: relative;
      z-index: 1;
      width: 190px;
      top: 0;
  }
  #sidebar .list-group > .list-group-item {
      text-align: center;
      padding: .75rem .5rem;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
      display:none;
  }
}

.collapse.show {
visibility: visible;
}
.collapsing {
visibility: visible;
height: 0;
-webkit-transition-property: height, visibility;
transition-property: height, visibility;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.collapsing.width {
-webkit-transition-property: width, visibility;
transition-property: width, visibility;
width: 0;
height: 100%;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

#fixed-nav {
    background: #F8D271;
    height: 99px;
    width: 100%;
    z-index: 9999999;
  
}

#inside-header img {
   
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #FFFFFF;
    margin: 0px auto;
    margin-top:20px;
    font-size:40px;
    text-align:center;
    line-height:100px
}
.inside-logo {
    padding: 10px 0px;
}
.rounded-circle{
    margin:10px 0px;
}

.orange {
    background: #EE9E6D;
    margin-right: 10px
}

#sidebar {
    overflow: hidden;
    z-index: 3;
    border:none;
}

    #sidebar .list-group {
        min-height: calc(100% - 99px);
        border: none;
        padding-top:40px;
    }

#recent-div {
    margin-top: 50px;
    margin-left: .75rem;
}

    #recent-div a {
        color: #613D61
    }


            #recent-div .list-group-item {
                padding: .5rem 0rem;
            }
#sidebar i {
    margin-right: 6px;
    border: none;
}
    #sidebar .list-group-item{
        border:none;
    }

        #sidebar .list-group-item span {
            color: #613D61;
            border: none;
        }

    /* level 1*/
    #sidebar .list-group .collapse .list-group-item,
    #sidebar .list-group .collapsing .list-group-item {
        padding-left: 20px;
        border: none;
    }

.b-yellow {
    background: #F8D271
}
.page-header{
    padding-top:60px
}
.card {
    background: #430D33;
    border-radius:20px;
    padding:90px 0px;
    color: #EE9E6D;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-align:center;
    height: 40vh;
    margin: 50px 0px;
    width: 105%;
}
.card1 {
  background: #613D61;
  border-radius:20px;
  padding:110px 30px;
  color: #EE9E6D;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-align:center;
  height: 50vh;
  margin: 50px 0px;
  width: 93%;
}
.card2 {
    background: #EE9E6D;
    border-radius:20px;
    padding:40px;
    color: white;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-align:center;
    height: 60vh;
    width: 100%;
    margin-bottom: 40px;
  }

.card img{
  height: 40px;
  width: 40px;
  margin: 10px auto;

}
.video-div {
    margin: 30px 0px;
    background-color: #EE9E6D;
    background-image: URL('../../img/s-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    padding: 50px
}
    .video-div h1 {
        color: #430D33;
        font-size:32px;
        padding:30px 0px;
    }
@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-transform: translateX(-45px);
        transform: translateX(-45px);
        position: fixed;
    }

        #sidebar.show {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        #sidebar::-webkit-scrollbar {
            width: 0px;
        }

        #sidebar, #sidebar .list-group {
            min-width: 1px;
            overflow: visible;
        }
            /* overlay sub levels on small screens */
            #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
                position: relative;
                z-index: 1;
                width: 190px;
                top: 0;
            }

            #sidebar .list-group > .list-group-item {
                text-align: center;
                padding: .75rem .5rem;
            }
    #fixed-nav{
        height:65px
    }
    #inside-header img {
        width:50px
    }
    #inside-header .img2 {
        width: 40px
    }
    .rounded-circle {
        margin: 0px;
    }
    

}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

    .collapsing.width {
        -webkit-transition-property: width, visibility;
        transition-property: width, visibility;
        width: 0;
        height: 100%;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .progress{
      background-color: #613D61;
      margin-top: 100px;
      height: 30px;

    }
    .h2title{
      color: #430D33;
      margin-top: 20px;
      margin-left: 15px;
      margin-bottom: 20px;
    }
    .goal .card{
      background-color: #613D61;
      margin-top: 20px;
      margin-left: 15px;
      margin-bottom: 20px;
      padding: 0px;
    }
    .goal p{
      margin-top: 20px;
      margin-left: 15px;
      margin-bottom: 20px;
      text-align: center;
      color: #EE9E6D;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    }
    .goalBtn{
      background-color: #FFF7EB;
      width: 90%;
      border: 2px solid ;
      margin: 10px 0px;
      height: 40px;
      padding: 0px;
      border-radius:12px ;
      
    }
    .addNew{
      color: #FFF7EB;

    }
    .profilePicc{
      margin-top: 2px;
    width: 65px;
    height: 85px;
    }
    .motevationDiv{
  background:#FFF7EB;
  background-image:URL('../../img/motivationDiv.jpg');
  background-position:top;
  background-repeat:no-repeat;
  background-size:100%;
  height: 20vh;
    }
    