
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Gloria+Hallelujah&family=Grenze+Gotisch:wght@500&family=Open+Sans&family=Permanent+Marker&family=Satisfy&display=swap');

.footer{
    padding-bottom:125px;
    background-color: #613D61;
    background-image:URL('../../img/footer.jpg');
    background-position:top;
    background-repeat:no-repeat;
    background-size:100%;
}


.social-media{
        text-align: center;
        font-size: 17px;
        color: #F8D271;
    
}
.social-media p{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-size: 17px;
  top: 110px;
  color: #F8D271;
}
.logoFooter {
    position: absolute;
    cursor: pointer;
    margin: 2% 0% 0% 5%;
}

a.social{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    position: relative;
    font-size: 17px;
    color: #F8D271;
  top: 110px;
    
}

a.social:hover{
    transform: translateY(-10px);
    color: white;
}

a.facebook{
    color: #F8D271;
}
a.twitter{
    color: #F8D271;
}

a.instagram {
 color: #F8D271;
}
a.pinterest{
    color: #F8D271;
}

.div-2{
    font-family: sans-serif;
    font-size: 17px;
}
.about{
        text-align: end;
        margin-right: 11%;
        font-size: 17px;
        color: #F8D271;
        
        
}

a.about {
    font-family: 'Satisfy', cursive;
            text-decoration: none;
            color: white;
    border: 1px solid #F8D271;
    font-size: 25px;
    border-radius: 27px;
    padding: 0.4% 0.9% 0% 1.6%;
    position: relative;
  top: 120px;

}



.div-2 p{
    text-align: center;
    font-size: 17px;
    color: #F8D271;
    position: relative;
  top: 125px;
}
.div-2 p.contact{
    padding-top: 0.8%;
    
}
.div-2 span{
    padding-left: 5%;
}

p.rights{
    font-family: sans-serif;
    color: #F8D271;
    position: relative;
  top: 120px;
  font-size: 17px;
}
.footerLogo{
    position: relative;
  top: 120px;
}


@media (max-width: 998px) {


    a.about {
        font-family: 'Satisfy', cursive;
                text-decoration: none;
        color: honeydew;
        border: 1px solid #F8D271;
        font-size: 25px;
        border-radius: 27px;
        padding: 0.4% 0.9% 0% 1.6%;
        display: none;
    }

    .div-2 {
        margin-top: 3%;
    }

    .logoFooter {
        display: none; 
    }


}